// import base.scss
@import './base.scss';

// style
#root{
  background-color: #262626;
  @include width-height(100vw, 200vh);
  #shape{
    position: relative;
    @include width-height(inherit, 50vh);
    &>div{
      position: absolute;
    }
    &>div:nth-child(1){
      @include width-height(30vw, 30vw);
      background-color: rgb(255, 87, 87);
      @extend %circle;
      left: 20vw;
      top: 10vh;
    }
    &>div:nth-child(2){
      @include width-height(50vw, 50vw);
      @include border(2px, yellow);
      @extend %circle;
      left: 20vw;
      top: 15vh;
    }
    &>div:nth-child(3){
      @include width-height(1vw, 4vh);
      @include flex-align-justify(center, space-between);@extend %flex-column;
      left: 10vw;
      top: 37vh;
      &>div{
        @include width-height(1.5vw, 1.5vw);
        background-color: $color-note;
        @extend %circle;

      }
    }
  }
  &>#card-section{
    width: 100vw;
    @include flex-align-justify(center, center);
    @extend %flex-column;
    position: absolute;
    top: 40vh;
    row-gap: 1vw;
    .card-contains{
      @include width-height(90vw, 50vh);
      background-color: rgba(200,200,200,.2);
      backdrop-filter: blur(20px);
      padding: 1vw;
      margin-bottom: 2vh;
      border-radius: 3vw;
      transition: 1s;
      @extend %flex-center-center;
      // div를 썼었는데 지금 보니까 <br>태그를 쓰면 줄바꿈이 되니까 단순히 줄을 바꾸고 같은 태그 안에 들어가 있어 효과를 적용할 수 있음, div를 따로 쓰는 것보다 덜 복잡하고 스타일의 일괄적 적용이 가능
      &>h1{
        @include width-height(80vw, 35vh);
        color: $color-note;
        font-size: 3rem;
      }
      
      
    }
    .card-contains:nth-child(2){
      &>h1{
        @include width-height(80vw, 20vh);
        font-size: 3rem;
      
      }
    }
  }
}

